#home .row > div > div {
  border-style: solid;
  margin: 5px;
}
body{
    background-image: url("../images/1.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-y: 66px;
    background-attachment: fixed;
}
nav{
    background-color: #003399;
}

.nav-link{
  
}
