#home .row > div > div {
  border-style: solid;
  margin: 5px;
}
.body{
    background-color: 	#ADD8E6;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-y: 66px;
    background-attachment: fixed;
}
