#home .row > div > div {
  border-style: solid;
  margin: 5px;
}
body{ width: 100%;
  
   background-image: url("../images/1.jpg");
   background-size: 110%;
   background-repeat: no-repeat;
   background-position-y: 66px;
   background-attachment: fixed;
  opacity: 0.1;
}

navbar-toggler{
  background-color: blue
}
  
nav{
    background-color: #003399;
}

#background-element{
  width: 100%;
  
   background-image: url("../images/1.jpg");
   background-size: 110%;
   background-repeat: no-repeat;
   background-position-y: 66px;
   background-attachment: fixed;
  opacity: 0.1;
}
.nav-link{
  
}
